VITE_apiKey=yourkey
VITE_projectId=yourprojectid
VITE_authDomain=yourauthdomain
VITE_storageBucket=yourstoragebucket
VITE_messagingSenderId=yourmessagesenderid
VITE_appId=yourappid
VITE_measurementId=yourmeasurementid

GENERATE_SOURCEMAP=false